* {
    box-sizing: border-box;
}

body {
  font-family: arial;
  margin: 0;
  background-color: snow;
}

#header {
  text-align: center;
  background-image:url("./Galibier.jpg");
  background-size: cover;
  padding: 80px;
  color: white;
}
#sub-header{
  text-align: center;
  padding: 1px;
  color: white;
  background-color: navy;
}
#footer{
  text-align: center;
  padding: 0px;
  color: white;
  background-color: red;
}

/* input/output layout */
.row {
  display: flex;
  flex-wrap: flex;
  margin: 10px 0 10px 0;
}
.side {
  flex: 30%;
  background-color: #f1f1f1;
  margin: 10px 5px 10px 10px;
  border: 1px solid black;
  padding: 15px;
}

.main {
  flex: 70%;
  background-color: #f1f1f1;
  margin: 10px 10px 10px 5px;
  border: 1px solid black;

}

#country {
  padding: 5px;
  margin: 0 0 7px 0;
}
/* table */
th {
  color: navy;
  border-bottom: 1px solid black;
  background-color: ghostwhite;
  font-size: 12px;
  padding: 5px;
  font-family: arial;
  /* text-align: center; */

}
td {
  /* border: 1px solid black; */
  background-color: ghostwhite;
  padding: 2px;
  font-family: arial;
  text-align: center;

}
tr {
  /* border: 1px solid black; */
  background-color: ghostwhite;
  /* text-align: center; */
  font-family: arial;
}
tbody {
  /* border: 1px solid black; */
}

#table {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid black; */
}
#button {
  background-color: navy;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 15px;
}
#deleteAll {
  background-color: red;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 15px;
}
#options {
  margin: 5px 10px 10px 0px;
}
